video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.splclass {
  font-family: Circular Std, sans-serif;
  background: linear-gradient(92.15deg, #8865e9 7.05%, #c4dfbd 95.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  text-emphasis-color: transparent;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 rgba(50, 85, 127, 0.5),
    0 2px 0 rgba(50, 85, 127, 0.5);
  transition: box-shadow 0.3s;
  color: inherit;
  overflow: hidden;
}

span:hover {
  background: linear-gradient(92.15deg, #4e2020 7.05%, #b9beb7 95.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  text-emphasis-color: transparent;
  text-decoration: line-through;
  box-shadow: orange 0 -30px 0 rgba(50, 85, 127, 0.5),
    0 2px 0 rgba(255, 29, 29, 0.5);
}
.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
